// properties - font
$fontStack: sans-serif, Helvetica, Arial;
$fontStackBold: 'Helvetica-Bold', 'Arial Black', 'Arial Bold', Gadget, sans-serif;
$fontStackAccent: 'Open Sans', Verdana, Tahoma, sans-serif;
$fontStackRating: Courier, monospace;
$fontWeightRegular: 400;
$fontWeightBold: 700;
// properties - colors
$offWhite: #f7f8f9;
$paleGray: #e8ebee;
$lightGray: #c2cad0;
$medGray: #61696e;
$darkGray: #8d989e;
$darkerGray: #303436;
$skyBlue: #1a72b0;
// properties - numbers
$radius: 8px;
$smallFontSize: 1rem;
$mainFontSize: 1.5rem;
$plotFontSize: 16px;
$headerFontSize: 24px;
$wideSpace: 35px;
