@import 'abstracts/variables';


.card-container{
  display: flex;
  .image {
    padding-right: 30px;

    img {
      width: 100%;
      border-radius: $radius;
    }
  }

  .content {
    color: $darkerGray;

    .title {
      font-family: $fontStackAccent;
      font-size: $headerFontSize;
      font-weight: $fontWeightBold;
      height: $wideSpace;
      border-bottom: 1px solid $darkGray;
    }
    .details,
    .metadata {
      margin-top: 10px;
      font-family: $fontStack;
    }
    .details {
      font-size: $smallFontSize;
      li {
        margin-top: 5px;
      }
    }
    .metadata {
      font-size: $mainFontSize;
      overflow: hidden;

      li {
        margin-left: $wideSpace;
        display: inline-block;
      }

      .rated {
        color: $darkGray;
        font-family: $fontStackRating;
        margin-left: 0;

        div {
          display: inline-block;
          padding: 5px 10px;
          border: 1px solid $darkGray;
          border-radius: $radius;
        }
      }
      .release {
        text-align: right;
        margin-left: 0;
        float: right;
      }
    }
    .plot {
      margin-top: 17px;
      margin-bottom: 10px;
      font-family: $fontStack;
      font-size: $plotFontSize;
      font-weight: $fontWeightRegular;
    }
    .nav {
      text-align: right;

      button {
        margin-left: 10px;
      }
    }
  }
}
