@import 'abstracts/variables';

nav {
  margin-bottom: 40px;
  text-align: right;

  button {
    display: inline-block;
    background: $offWhite;
    color: $medGray;
    font-family: $fontStackAccent;
    font-size: $mainFontSize;
    font-weight: $fontWeightBold;
    padding: $mainFontSize 25px;
    border: 1px solid $lightGray;
    border-left-color: transparent;
    cursor: default;

    &:first-child {
      border-left: 1px solid $lightGray;
      border-top-left-radius: $radius;
      border-bottom-left-radius: $radius;
    }
    &:last-child {
      border-left-color: transparent;
      border-top-right-radius: $radius;
      border-bottom-right-radius: $radius;
    }
    &.active {
      background: $skyBlue;
      color: #fff;
      text-shadow: 3px 4px 0px rgba(0, 0, 0, 0.1);
      border: 1px solid $skyBlue;
    }
  }
}
