h1 {
  display: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;

  li {
    display: block;
  }
}

button {
  &.imdb,
  &.detail {
    background: #f9b44a;
    color: #fff;
    font-family: $fontStackBold;
    font-size: 16px;
    padding: 15px 45px;
    text-decoration: none;
    border-style: none;
    border-radius: $radius;
  }
}

#content {
  display: block;
  margin: auto;
}
/* Focus style for a11y */
@mixin focus {
  &:focus {
    outline: 2px solid #000000; 
  }
}

a, button, [role="button"], input[type="button"], input[type="submit"] {
  @include focus;
}