<app-decades
  *ngIf="decades.length"
  [decades]="decades"
  [currDecade]="currDecade"
  (updateDecade)="displayMovies($event)"
></app-decades>
<div class="movies">
  <!-- making use of track by efficiently handles re rendering of the elments -->
  <div class="movie-grid" *ngFor="let movie of filteredMovies; trackBy:trackMoviesBy"> 
    <div class="image-section">
      <img [ngSrc]="movie.Poster" width="100" height="100" />
    </div>
    <div class="details-section">
      <div class="title">
        {{ movie.Title }}
        <hr />
      </div>
      <div class="body">
        <div class="metadata">
          <div class="rated">
            <div>{{ movie.Rated }}</div>
          </div>
          <div class="runtime">{{ movie.Runtime }}</div>
          <div class="release">{{ movie.Released }}</div>
        </div>
        <div class="plot">
          {{ movie.Plot }}
        </div>
      </div>
      <div class="action-btn">
        <app-go-details [imdbId]="movie.imdbID"></app-go-details>
      </div>
    </div>
  </div>
</div>
